<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kuaidi.dao.EforcesUserPointMapper">
	<resultMap id="BaseResultMap" type="org.kuaidi.bean.domain.EforcesUserPoint">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="pointNum" jdbcType="INTEGER" property="pointnum" />
		<result column="crtTime" jdbcType="TIMESTAMP" property="crttime" />
		<result column="userId" jdbcType="INTEGER" property="userid" />
		<result column="incNumber" jdbcType="VARCHAR" property="incnumber" />
	</resultMap>
	<sql id="Base_Column_List">
    id, type, pointNum, crtTime, userId, incNumber
   </sql>

	<!-- 保存签到积分 -->
	<insert id="addUserPoint" parameterType="org.kuaidi.bean.domain.EforcesUserPoint">
	insert
	 into
	 eforces_userPoint
	 (type,pointNum,
	 userId,incNumber,crtTime)
	 values
	 (#{type},#{pointnum},
	 #{userid},#{incnumber},#{crttime})
	</insert>

	<!-- 获取某用户的所有签到信息 -->
	<select id="getCountMsg" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from eforces_userPoint where userid = #{userid}
	</select>
	
	<select id="getPointsByUserId" parameterType = "java.lang.Integer" resultType="java.lang.Integer">
		select sum(pointNum)  from eforces_userPoint where userid=#{userid,jdbcType=INTEGER}
	</select>

	<!-- 查询积分列表 -->
	<select id="getCountDate" resultMap="BaseResultMap">
	SELECT * from eforces_userPoint where userId=#{userid}  order by id , type  desc 
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from eforces_userPoint
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eforces_userPoint
    where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="org.kuaidi.bean.domain.EforcesUserPoint">
    insert into eforces_userPoint (id, type, pointNum,
      crtTime, userId, incNumber
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{pointnum,jdbcType=INTEGER},
      #{crttime,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}, #{incnumber,jdbcType=VARCHAR}
      )
  </insert>
	<insert id="insertSelective" parameterType="org.kuaidi.bean.domain.EforcesUserPoint">
		insert into eforces_userPoint
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="pointnum != null">
				pointNum,
			</if>
			<if test="crttime != null">
				crtTime,
			</if>
			<if test="userid != null">
				userId,
			</if>
			<if test="incnumber != null">
				incNumber,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="pointnum != null">
				#{pointnum,jdbcType=INTEGER},
			</if>
			<if test="crttime != null">
				#{crttime,jdbcType=TIMESTAMP},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="incnumber != null">
				#{incnumber,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.kuaidi.bean.domain.EforcesUserPoint">
		update eforces_userPoint
		<set>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="pointnum != null">
				pointNum = #{pointnum,jdbcType=INTEGER},
			</if>
			<if test="crttime != null">
				crtTime = #{crttime,jdbcType=TIMESTAMP},
			</if>
			<if test="userid != null">
				userId = #{userid,jdbcType=INTEGER},
			</if>
			<if test="incnumber != null">
				incNumber = #{incnumber,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.kuaidi.bean.domain.EforcesUserPoint">
    update eforces_userPoint
    set type = #{type,jdbcType=INTEGER},
      pointNum = #{pointnum,jdbcType=INTEGER},
      crtTime = #{crttime,jdbcType=TIMESTAMP},
      userId = #{userid,jdbcType=INTEGER},
      incNumber = #{incnumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>