<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kuaidi.dao.EforcesWechatUserMapper">
  <resultMap id="BaseResultMap" type="org.kuaidi.bean.domain.EforcesWechatUser">
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="subscribe" jdbcType="INTEGER" property="subscribe" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="subscribe_time" jdbcType="INTEGER" property="subscribeTime" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="tagid_list" jdbcType="VARCHAR" property="tagidList" />
    <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribeScene" />
    <result column="qr_scene" jdbcType="VARCHAR" property="qrScene" />
    <result column="qr_scene_str" jdbcType="VARCHAR" property="qrSceneStr" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    openid, subscribe, nickname, sex, city, province, country, language, headimgurl, 
    subscribe_time, unionid, remark, groupid, tagid_list, subscribe_scene, qr_scene, 
    qr_scene_str, uid, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eforces_wechatuser
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from eforces_wechatuser
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.kuaidi.bean.domain.EforcesWechatUser">
    insert into eforces_wechatuser (openid, subscribe, nickname, 
      sex, city, province, 
      country, language, headimgurl, 
      subscribe_time, unionid, remark, 
      groupid, tagid_list, subscribe_scene, 
      qr_scene, qr_scene_str, uid, 
      created_at, updated_at)
    values (#{openid,jdbcType=VARCHAR}, #{subscribe,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, 
      #{subscribeTime,jdbcType=INTEGER}, #{unionid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{groupid,jdbcType=INTEGER}, #{tagidList,jdbcType=VARCHAR}, #{subscribeScene,jdbcType=VARCHAR}, 
      #{qrScene,jdbcType=VARCHAR}, #{qrSceneStr,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.kuaidi.bean.domain.EforcesWechatUser">
    insert into eforces_wechatuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="headimgurl != null">
        headimgurl,
      </if>
      <if test="subscribeTime != null">
        subscribe_time,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="tagidList != null">
        tagid_list,
      </if>
      <if test="subscribeScene != null">
        subscribe_scene,
      </if>
      <if test="qrScene != null">
        qr_scene,
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        #{subscribeTime,jdbcType=INTEGER},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="tagidList != null">
        #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null">
        #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null">
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kuaidi.bean.domain.EforcesWechatUser">
    update eforces_wechatuser
    <set>
      <if test="subscribe != null">
        subscribe = #{subscribe,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null">
        subscribe_time = #{subscribeTime,jdbcType=INTEGER},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="tagidList != null">
        tagid_list = #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null">
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null">
        qr_scene = #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null">
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kuaidi.bean.domain.EforcesWechatUser">
    update eforces_wechatuser
    set subscribe = #{subscribe,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      subscribe_time = #{subscribeTime,jdbcType=INTEGER},
      unionid = #{unionid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER},
      tagid_list = #{tagidList,jdbcType=VARCHAR},
      subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      qr_scene = #{qrScene,jdbcType=VARCHAR},
      qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>