<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kuaidi.dao.EforcesCustomerSignMapper">
  <resultMap id="BaseResultMap" type="org.kuaidi.bean.domain.EforcesCustomerSign">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Number" jdbcType="VARCHAR" property="number" />
    <result column="SignTime" jdbcType="TIMESTAMP" property="signtime" />
    <result column="TouserSignature" jdbcType="VARCHAR" property="tousersignature" />
    <result column="DeliveryUserName" jdbcType="VARCHAR" property="deliveryusername" />
    <result column="DeliveryUserId" jdbcType="VARCHAR" property="deliveryuserid" />
    <result column="Incname" jdbcType="VARCHAR" property="incname" />
    <result column="Incid" jdbcType="VARCHAR" property="incid" />
    <result column="Operators" jdbcType="VARCHAR" property="operators" />
    <result column="OperatorId" jdbcType="VARCHAR" property="operatorid" />

    <result column="fannex" jdbcType="LONGVARCHAR" property="fannex" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Number, SignTime, TouserSignature, DeliveryUserName, DeliveryUserId, Incname, 
    Incid, Operators, OperatorId,fannex
  </sql>


  <select id="getAllSign" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List"></include> from eforces_customersign
    where  isdelete = 0
    <if test="_parameter != null">
      and  incId like CONCAT(#{_parameter},'%')
    </if>
     ORDER BY signTime desc 
  </select>
  
  <select id="selectByDeliveryUserId" resultMap="BaseResultMap">
  select
  *
  from
  eforces_customersign
  where
  DeliveryUserId=#{DeliveryUserId}
  order by
  SignTime
  desc
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eforces_customersign
    where Id = #{id,jdbcType=INTEGER}
    and isdelete = 0
  </select>
  
  <select id="webSitCustomSignByParam"  resultType="java.util.Map">
  		select i.number , i.name , #{time,jdbcType=VARCHAR}  as time , sum(case when d.type=2 then 1 end) wtjnum,sum(case when d.type=1 then 1 end) num,
		sum(case when d.type=0 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&lt;=10 and TIMESTAMPDIFF(MINUTE,#{time,jdbcType=VARCHAR},d.signtime) &lt; 630 then 1 end)num1,
		sum(case when d.type=0 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&gt;=10 and TIMESTAMPDIFF(MINUTE,#{time,jdbcType=VARCHAR},d.signtime)&gt;=630 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&lt;12 then 1 end)num2,
		sum(case when d.type=0 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&gt;=12 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&lt;15 then 1 end)num3,
		sum(case when d.type=0 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&gt;=15 then 1 end)num4,
		sum(case when d.type=1 and cid is null then 1 end)num5
		from (
			select 0 as type,c.number,d.id as did,c.incid,c.id as cid,c.signtime from eforces_customersign c
			 left join(select d.billsnumber,d.id,d.incid from eforces_distributedscan  d    where TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},d.scantime)= 0
			)d on d.billsnumber=c.number   where TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},c.signtime)= 0
		  union all
		     select 1 as type,d.billsnumber,d.id as did,d.incid,c.id as cid,c.signtime
			from eforces_distributedscan  d 
			 left join (select c.number,c.id,c.incid,c.signtime from eforces_customersign  c  where  TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},c.signtime)=0
			)c on c.number=d.billsnumber  where  TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},d.scantime)=0
		  union all
			 select 2 as type,w.billsnumber,0,w.incid,0,w.scantime from
			 eforces_stayedandtroubledscan  w   where   TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},w.scantime)=0 
			  and 
			 not exists(select billsnumber from eforces_distributedscan d where w.billsnumber=d.billsnumber )  and TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},w.scantime)=0
		)d left join eforces_incment i on i.number = d.incid where i.istransfer=0 		    
		<if test="incNum != null and incNum != ''">
			and and i.number= #{incNum,jdbcType=VARCHAR}
		</if>
		<if test="province != null and province != ''">
			and i.province =  #{province,jdbcType=VARCHAR}
		</if>
		<if test="city != null and city != ''">
			and i.city =  #{city,jdbcType=VARCHAR}
		</if>
		<if test="area != null  and  area != ''">
			and i.area = #{area,jdbcType=VARCHAR}
		</if>
		GROUP BY i.number , i.name
  </select>
  
  <select id="customSignByUser" resultType="java.util.Map">
 		select d.postman,d.postmanid,i.name,i.number, #{time,jdbcType=VARCHAR}  as time, sum(case when sid is not null then 1 end)wtjnum,sum(case when did is not null then 1 end)num,
		sum(case when cid is not null and did is not null and   TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime) &lt;=10 and TIMESTAMPDIFF(MINUTE,#{time,jdbcType=VARCHAR},d.signtime) &lt; 630  then 1 end)num1,
		sum(case when cid is not null and did is not null and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&gt;=10 and TIMESTAMPDIFF(MINUTE,#{time,jdbcType=VARCHAR},d.signtime)&gt;=630  and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime) &lt;12 then 1 end)num2,
		sum(case when cid is not null and did is not null and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&gt;= 12 and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&lt;15  then 1 end)num3,
		sum(case when cid is not null and did is not null and TIMESTAMPDIFF(HOUR,#{time,jdbcType=VARCHAR},d.signtime)&gt;=15  then 1 end)num4,
		sum(case when cid is null and did is not null and sid is null then 1 end)num5
		 from (
					select d.billsnumber,d.id as did,d.incid,c.id as cid,s.id as sid,d.postman,d.postmanid,c.signtime		
					 from  eforces_distributedscan  d 
							left join
				(select c.deliveryuserid,c.number,c.id,c.incid,c.signtime from eforces_customersign c 
				where  c.isdelete  = 0 
				<if test="time != null and time != ''">
					and  TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},c.signtime)=0
				</if>
				<if test="incNum != null and incNum != '' ">
					and c.incid = #{incNum,jdbcType=VARCHAR}
				</if>
				<if test="userId != null and userId != '' ">
					and c.deliveryuserid= #{userId,jdbcType=INTEGER}
				</if>
				) c on d.billsnumber=c.number and d.postmanid=c.deliveryuserid 
				left join 
				(    select * from(select billsnumber,id,sacnnerid,incid  from  eforces_stayedandtroubledscan    where  isDelete = 0 
					<if test="time != null and time != '' ">
						and  TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},scantime)=0
					</if>
				) a  where   1 = 1  
				<if test="incNum != null and incNum != '' ">
					and a.incid = #{incNum,jdbcType=VARCHAR}
				</if>
				<if test="userId != null  ">
					and a.sacnnerid = #{userId,jdbcType=INTEGER}
				</if>
						 ) s on s.billsnumber=d.billsnumber and s.sacnnerid=d.postmanid
						 where  1 = 1 
						 <if test="time != null and time != '' ">
						 		and TIMESTAMPDIFF(DAY,#{time,jdbcType=VARCHAR},d.scantime)=0
						 </if>
						 <if test="incNum != null and incNum != ''">
						 		and c.incid = #{incNum,jdbcType=VARCHAR}
						 </if>
						  <if test="userId != null">
						  		and d.postmanid = #{userId,jdbcType=INTEGER}
						  </if>
						)d left join eforces_incment  i on i.number=d.incid where i.istransfer=0 
						<if test="province != null and province != ''">
							 and i.province = #{province,jdbcType=VARCHAR}
						</if>
						<if test="city != null and city != ''">
							 and i.city = #{city,jdbcType=VARCHAR}
						</if>
						<if test="area != null and area != ''">
							 and i.area = #{area,jdbcType=VARCHAR}
						</if>
		group by d.postman,d.postmanid,i.name,i.number order by i.number,d.postmanid
  </select>

  <select id="selectByNumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from eforces_customersign
    where number = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eforces_customersign
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.kuaidi.bean.domain.EforcesCustomerSign">
    insert into eforces_customersign (Id, Number, SignTime, 
      TouserSignature, DeliveryUserName, DeliveryUserId, 
      Incname, Incid, Operators, 
      OperatorId, fannex)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{signtime,jdbcType=TIMESTAMP}, 
      #{tousersignature,jdbcType=VARCHAR}, #{deliveryusername,jdbcType=VARCHAR}, #{deliveryuserid,jdbcType=VARCHAR}, 
      #{incname,jdbcType=VARCHAR}, #{incid,jdbcType=VARCHAR}, #{operators,jdbcType=VARCHAR}, 
      #{operatorid,jdbcType=VARCHAR}, #{fannex,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.kuaidi.bean.domain.EforcesCustomerSign">
    insert into eforces_customersign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="number != null">
        Number,
      </if>
      <if test="signtime == null">
        SignTime,
      </if>
      <if test="tousersignature != null">
        TouserSignature,
      </if>
      <if test="deliveryusername != null">
        DeliveryUserName,
      </if>
      <if test="deliveryuserid != null">
        DeliveryUserId,
      </if>
      <if test="incname != null">
        Incname,
      </if>
      <if test="incid != null">
        Incid,
      </if>
      <if test="operators != null">
        Operators,
      </if>
      <if test="operatorid != null">
        OperatorId,
      </if>
      <if test="fannex != null">
        fannex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="signtime == null">
        now(),
      </if>
      <if test="tousersignature != null">
        #{tousersignature,jdbcType=VARCHAR},
      </if>
      <if test="deliveryusername != null">
        #{deliveryusername,jdbcType=VARCHAR},
      </if>
      <if test="deliveryuserid != null">
        #{deliveryuserid,jdbcType=VARCHAR},
      </if>
      <if test="incname != null">
        #{incname,jdbcType=VARCHAR},
      </if>
      <if test="incid != null">
        #{incid,jdbcType=VARCHAR},
      </if>
      <if test="operators != null">
        #{operators,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        #{operatorid,jdbcType=VARCHAR},
      </if>
      <if test="fannex != null">
        #{fannex,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kuaidi.bean.domain.EforcesCustomerSign">
    update eforces_customersign
    <set>
      <if test="number != null">
        Number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="signtime != null">
        SignTime = #{signtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tousersignature != null">
        TouserSignature = #{tousersignature,jdbcType=VARCHAR},
      </if>
      <if test="deliveryusername != null">
        DeliveryUserName = #{deliveryusername,jdbcType=VARCHAR},
      </if>
      <if test="deliveryuserid != null">
        DeliveryUserId = #{deliveryuserid,jdbcType=VARCHAR},
      </if>
      <if test="incname != null">
        Incname = #{incname,jdbcType=VARCHAR},
      </if>
      <if test="incid != null">
        Incid = #{incid,jdbcType=VARCHAR},
      </if>
      <if test="operators != null">
        Operators = #{operators,jdbcType=VARCHAR},
      </if>
      <if test="operatorid != null">
        OperatorId = #{operatorid,jdbcType=VARCHAR},
      </if>
      <if test="fannex != null">
        fannex = #{fannex,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>





  <update id="updateByPrimaryKey" parameterType="org.kuaidi.bean.domain.EforcesCustomerSign">
    update eforces_customersign
    set Number = #{number,jdbcType=VARCHAR},
      SignTime = #{signtime,jdbcType=TIMESTAMP},
      TouserSignature = #{tousersignature,jdbcType=VARCHAR},
      DeliveryUserName = #{deliveryusername,jdbcType=VARCHAR},
      DeliveryUserId = #{deliveryuserid,jdbcType=VARCHAR},
      Incname = #{incname,jdbcType=VARCHAR},
      Incid = #{incid,jdbcType=VARCHAR},
      Operators = #{operators,jdbcType=VARCHAR},
      OperatorId = #{operatorid,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <update id="DeleteById" parameterType="org.kuaidi.bean.domain.EforcesCustomerSign">
    update eforces_customersign
    set isdelete = 1
    where Id in
    <foreach collection="list" item="id" index="index" open="("
             close=")" separator=",">
      #{id}
    </foreach>
  </update>

  <select id="selectByOperatorId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from eforces_customersign
    where DeliveryUserId = #{operatorid,jdbcType=VARCHAR}
  </select>
</mapper>