<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kuaidi.dao.EforcesAreaDAO">
  <resultMap id="BaseResultMap" type="org.kuaidi.bean.domain.EforcesArea">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="cityId" jdbcType="VARCHAR" property="cityid" />

    <result column="name" jdbcType="LONGVARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, cityId
  </sql>
  <sql id="Blob_Column_List">
    name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eforces_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getAreaByCityCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eforces_area
    where cityId = #{cityCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eforces_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.kuaidi.bean.domain.EforcesArea">
    insert into eforces_area (id, code, cityId, 
      name)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{cityid,jdbcType=VARCHAR}, 
      #{name,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.kuaidi.bean.domain.EforcesArea">
    insert into eforces_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="cityid != null">
        cityId,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kuaidi.bean.domain.EforcesArea">
    update eforces_area
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        cityId = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kuaidi.bean.domain.EforcesArea">
    update eforces_area
    set code = #{code,jdbcType=VARCHAR},
      cityId = #{cityid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>