/kuaidi-web/target
/.settings
/*.iml
/kuaidi-utils/target
/kuaidi-service-impl/target
/kuaidi-service-impl/bin
/kuaidi-iservice/bin
/kuaidi-iservice/target
/kuaidi-dao/target
/kuaidi-dao/bin
/kuaidi-bean/bin
/bin
/kuaidi-web/bin
/kuaidi-utils/bin
/kuaidi-bean/target
/kuaidi-web/lib
/.idea
/src
/kuaidi-web/bin
/kuaidi-web/*.iml
/kuaidi-service-impl/*.iml
/kuaidi-iservice/*.iml
/kuaidi-dao/*.iml


/kuaidi-iservice/.settings
/kuaidi-utils/.settings
/kuaidi-web/.settings
/kuaidi-web/*.log
/*.log
/*.1
/kuaidi-web/*.classpath
/*.classpath
/target/
/kuaidi-service-impl/*.log
/kuaidi-service-impl/.settings
/kuaidi-service-impl/*.classpath
/kuaidi-web/logs
